{% load static %}
{%  static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static '../static/css/profiles.css' %}">
    <title>StudyBuddy</title>
   
</head>
<body  class="profile_body">
    <nobr>
    <a  class="navbar-brand logo" href="/">StudyBuddy</a>   
    <input type="text" class="myInput"  placeholder="Search for modules.." title="Type in a name">
    </nobr>
    <div class="profile_container">
        <div class="check_filter">
            <input type="checkbox" class="filterCheckbox" id="python" name="python" value="PY">
            <label for="python"> Python</label><br>
            <input type="checkbox" class="filterCheckbox" id="java" name="java" value="java">
            <label for="java"> Java</label><br>
            <input type="checkbox" class="filterCheckbox" id="deign" name="deign" value="Html">
            <label for="deign">HTML/CSS/JS</label><br>
            <input type="checkbox" class="filterCheckbox" id="React" name="React" value="React">
            <label for="react"> React</label><br>
            <input type="checkbox" class="filterCheckbox" id="CN" name="CN" value="CN">
            <label for="computernetworks"> Computer Networks</label><br>
            <input type="checkbox" class="filterCheckbox" id="database" name="database" value="database">
            <label for="database"> Database</label><br>
            <input type="checkbox" class="filterCheckbox" id="C++" name="C++" value="C++">
            <label for="C++"> C++</label><br>
            {% if user.is_authenticated %}
            <a href="/chat/chat_page/{{user.username}}">Go to Chat Room</a>
            {% endif %}
            
        </div>
        <div class="profile-grid">
          {% for user_profile in user_profiles %}
          <div class="profile-card" data-subjects="{{ user_profile.module }},{{ user_profile.module2 }}">
            <img style="border-radius: 50%;" src="/media/{{user_profile.profile_pic}}"  alt="Avatar" height="120" width="126">
            <h2>{{ user_profile.user.username }}</h2>
              <p>Can Guide: {{ user_profile.module }}</p>
              <p>Also specialized in: {{ user_profile.module2 }}</p>
              <a class="custom-btn btn-2 "  href="/chat/send_message/{{user_profile.user.username}}"><button class="connect_btn">Connect</button></a>
          </div>
          {% endfor %}
        </div>
    </div>
    
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const checkboxes = document.querySelectorAll(".filterCheckbox");
          const profileCards = document.querySelectorAll(".profile-card");
      
          checkboxes.forEach(checkbox => {
              checkbox.addEventListener("change", function() {
                  const selectedSubjects = Array.from(checkboxes)
                      .filter(checkbox => checkbox.checked)
                      .map(checkbox => checkbox.value);
      
                  profileCards.forEach(card => {
                      const subjects = card.getAttribute("data-subjects").split(",");
                      const isFiltered = selectedSubjects.some(subject => subjects.includes(subject));
      
                      if (isFiltered) {
                          card.style.display = "block";
                      } else {
                          card.style.display = "none";
                      }
                  });
              });
          });
      });
      </script>
      
</html>