{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '../static/css/index.css' %}">
    <title>Study Buddy</title>
</head>
<body>
  <div class="flex_container">
    <div class="regimg_container">
    <img src="../static/images/online-13.jpg" width="550" height="400">
    </div>
      <div class="form_container">
          <form  class="register_form" action="register" method="post">
            {% csrf_token %}

            <div class="register-box">
              <p>Let's create your account!</p>
              <form>
                <div class="user-box">
                  <input required="" name="username" type="text" placeholder="Username">
                </div>
                <div class="user-box">
                  <input required="" name="email" type="text" placeholder="Email">
                </div>
                <div class="user-box">
                  <select required="" class="user-box" name="subject" type="text">
                    <option value="subject">Select the Subject you can teach others</option>
                    <option value="subject">Python</option>
                    <option value="subject">java</option>
                    <option value="subject">html,css,js</option>
                    <option value="subject">React</option>
                    <option value="subject">Computer Networks</option>
                    <option value="subject">Databases</option>
                    <option value="subject">C++</option>
                    <option value="subject">None</option>
                  </select>
                </div>
                <div class="user-box">
                  <input required="" name="subject2" type="text" placeholder="Any other Specialization">
                 </div> 
                 <div class="user-box">
                  <input required="" name="password" type="password" placeholder="Set Password">
                </div>
                <div class="user-box">
                  <input required="" name="password2" type="password" placeholder="Re-enter the password">
                </div>
                  <input class="custom-btn btn-2" type="submit" >
              </form>
              <p style="color: white;">Already have an account? <a href="/accounts/login" class="a2">Login</a></p>
              <div style="color: red;" class="error_message">
                {% for message in messages %}
                <h1>{{message}}</h1>
                {% endfor %}
              </div>
            </div>


          <!-- <div class="flex">
            <div class="register color">Let's Create your Account..</div>
              <label class="color">Username :</label>
              <input class="input" type="text" name="username" placeholder="Your Name">
              <label class="color">Email :</label>
              <input class="input" type="email" name="email" placeholder="Your Email ID">
              <label class="color">Your Specialization :</label>
              <select class="input_option"  name="subject">
                <option value="subject">Select the Subject you can teach others</option>
                <option value="subject">Python</option>
                <option value="subject">java</option>
                <option value="subject">html,css,js</option>
                <option value="subject">React</option>
                <option value="subject">Computer Networks</option>
                <option value="subject">Databases</option>
                <option value="subject">C++</option>
                <option value="subject">None</option>
              </select><br>
              <label class="color">Any other specializations :</label>
              <input class="input" type="text" name="subject2" placeholder="Any other subjects you are famillair with?">
              <label class="color">Set Password :</label>
              <input class="input" type="password" name="password" placeholder="Set Password">
              <label class="color">Re-Enter the password :</label>
              <input class="input" type="password" name="password2" placeholder="Confirm your Password"><br>
              <input class="reg_button" type="submit" >
            </form>
            <p class="para_reg">Already registered?<a href="/accounts/login">Click here to Login</a></p>
            <div style="color: red;" class="error_message">
              {% for message in messages %}
              <h1>{{message}}</h1>
              {% endfor %}
            </div>
        </div> -->
    </div>
   
</div>
  
</body>
</html>